<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" class="mat-expansion-panel">Сервисы</a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Проекты
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item href="#">Web-проекты</a>
            <a mat-list-item href="#">Мобильные приложения</a>
          </mat-nav-list>
        </mat-expansion-panel>
      <a mat-list-item href="#" class="mat-expansion-panel">О компании</a>
      <a mat-list-item href="#" class="mat-expansion-panel">Команда</a>
      <a mat-list-item href="#" class="mat-expansion-panel">Контакты</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ITConsult</span>
      <span class="spacer"></span>
      <ul class="menu">
          <li><a href=#>Сервисы</a></li>
          <li><a href=#>Проекты</a>
            <ul class="submenu">
                <li><a href=#>Web-проекты</a></li>
                <li><a href=#>Мобильные приложения</a></li>
            </ul></li>
          <li><a href=#>О компании</a></li>
          <li><a href=#>Команда</a></li>
          <li><a href=#>Контакты</a></li>
      </ul>
      <!-- <a mat-list-item href="#">Сервисы</a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Проекты
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item href="#">Web-проекты</a>
          <a mat-list-item href="#">Мобильные приложения</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <a mat-list-item href="#">О компании</a>
      <a mat-list-item href="#">Команда</a>
      <a mat-list-item href="#">Контакты</a> -->
    </mat-toolbar>
    <ng-content>
      
    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
