
.mat-toolbar.mat-primary {
  background: #c0c0c0;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel-header {
  padding: 0 16px!important;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}
ul.menu > li {
  float: left;
  position: relative;
}
ul.menu > li > a {
  display: block;
  padding: 10px;
  color: white;
  background-color: #c0c0c0;
  text-decoration: none;
}
ul.menu > li > a:hover {
  background-color: #808080;
}
ul.submenu {
  display: none;
  position: absolute;
  // width: 120px;
  // top: 55px;
  left: 0;
  // background-color: white;
  // border: 1px solid red;
}
ul.submenu > li {
  display: block;
}
ul.submenu > li > a {
  display: block;
  padding: 20px;
  color: white;
  background-color: #c0c0c0;
  text-decoration: none;
}
ul.submenu > li > a:hover {
  background-color: #808080;
  text-decoration: none;
}

ul.menu > li:hover > ul.submenu {
  display: block;
}



@media (min-width: 723px) {
  .sidenav, .mat-icon-button {
    display: none!important;
  }
}

@media (max-width: 723px) {
  mat-toolbar ul {
    display: none;
  }
}
